#root {
  background-color: #ac0f36;
}

.App {
  font-family: 'Roboto', sans-serif;
}

a.nav-link {
  color: #fff;
}

a.nav-link:hover {
  color: red;
}

.topNav {
  font-size: 11px;
}

.first-navbar {
  font-family: 'Montserrat', sans-serif;
}

nav.topNav-2.navbar.navbar-expand-md, .collapse.navbar-collapse {
  align-items: normal;
}

ul.ml-auto.secondNavLink.navbar-nav {
  text-transform: uppercase;
  font-weight: bold;
}

a.navLink-2.nav-link {
  margin-right: 40px;
}

.bg-1 {
  background-image: url('./components/images/rossi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0 50px;
}

.motogp-logo {
  margin-top: 40px;
  margin-bottom: 10px;
}

.sepang-flag {
  position: relative;
  left: 21px;
}

button.buyTicketBtn1.btn.btn-secondary {
  background-color: #ac0f36;
  color: white;
  width: 33%;
  margin-bottom: 50px;
  text-transform: uppercase;
}

button.buyTicketBtn2.btn.btn-secondary {
  background-color: #ac0f36;
  color: white;
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
}

.bg-2, .bg-3 {
  padding: 0 50px;
  background: white;
  height: 100%;
}

.bg-3 {
  background-image: url('./components/images/qatar-race.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.newsTitle, .ticketTitle {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: flex-end;
  padding-top: 30px;
}

.ticketTitle {
  color: white;
}

.cards {
  margin-bottom: 50px;
}

.noneBorder.card {
  border: none;
}

.bg-4 {
  height: 610px;
  background-color: white;
}

.google-map {
  height: 500px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 370px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cardFooter {
  padding-bottom: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.ticketBg {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
}

.cardTitle, .cardBody {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: flex-end;
}

.cardTitle {
  font-size: 15px;
}

.cardBody p {
  letter-spacing: 1px;
  font-size: 7px;
  margin-bottom: 2px;
}

hr.noMargin {
  margin: 8px 0;
}

.bodyWidth {
  width: 60%
}

.apply-btn {
  width: 35%;
  text-align: center;
}

button.btn.btn-danger {
  text-transform: uppercase;
  font-size: 12px;
}

.deadline {
  color: blue;
}

.getInTouch {
  background-color: white;
  position: relative;
  left: 100px;
  bottom: 460px;
  box-shadow: 0px 0px 3px 3px #888;
  width: 75%;
  padding: 30px 20px;
}

input, textarea {
  border: 0;
  border-bottom: solid 1px;
}

.formBtn {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

button.btn.btn-secondary {
  border: 0;
  background: transparent;
  color: #ac0f36;
}

button {
  background-color: #ac0f36;
  color: white;
  text-transform: uppercase;
}

.noHeight {
  height: 0;
}

.footer {
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}

button.resetField.btn.btn-secondary:hover {
  text-transform: uppercase;
}

button.send.btn.btn-secondary {
  background-color: #ac0f36;
  color: #fff;
  text-transform: uppercase;
  width: 25%;
}

button.send.btn.btn-secondary:hover {
  border: 1px solid #ac0f36;
  background-color: transparent;
  color: #000;
}

label {
  font-weight: bold;
}

#formSend {
  outline: 0;
  border: 0;
  border-bottom: 1px solid;
}

.modal-content {
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
